@import "../../node_modules/bootstrap/scss/bootstrap.scss";


// .form-control{
//     width: 50% !important;
// } 
// #pills-tab{
//     float: left;
// }
ul li {
    list-style-type: none;
    // float: left;
    display: inline;
    // float: right;
    color: black;
    margin: 5px;
  }

  ul li a { 
      color: black;
  }

// img:hover {
//     // opacity: 0.5;
//     // transition: .5s ease;
//     opacity: 0.5;
//     // position: absolute;
    
//     // transform: translate(-50%, -50%);
//     // -ms-transform: translate(-50%, -50%);
//     // text-align: center;
//     // max-width: 100%;
 
// }

.img-top {
//     opacity: 1;
//   display: block;
  width: 100%;
//   height: auto;
//   transition: .5s ease;
//   backface-visibility: hidden;
border-radius: 25px;

}



.notABox:hover  {
    opacity: 0.5;
}




input {
    width: 60%;
}

.container-fluid {
    margin: 1em;
    padding-right: 3em;
    padding-left: 3em;
    .row {
        .col {
            // margin: 10px;
            // display: inline-block;
            .notABox {
                margin-bottom: 50px;
                // border-radius: 25px;
                // padding: 0.25rem;
                // flex: 1 1 auto;
            }
 
        }
    }
}

input {
    background-color: #E8E8E8;

}
.navbar1 {
    display: flex;
    flex-direction: row;
    flex-wrap:   nowrap;
    justify-content: space-between;
    align-items: baseline;
    min-width: 830px;

}

#img1 {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;

}

